# Arquivos de desenvolvimento
*.backup
*.backup2
*.log
*.sqlite
*.db
.DS_Store
.env.local
.vscode
.idea

# Node
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log

# Build
dist
build
.cache

# Git
.git
.gitignore

# Deploy
deploy.zip
Dockerfile.backup

